* {
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-column {
    padding: 1em;
}

.box {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 1em;
    margin-bottom: 1em;
}
